.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0px;
    color: #ffffff;
    font-family: 'poppins';
}

body {
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.navbar {
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

nav {
    background: linear-gradient(90deg, #000000c1, #310000c1);
    border-radius: 0 0 30px 30px;
}

.logos {
    cursor: pointer;
}

.logoF {
    height: 50px;
    float: left;
    margin-left: 80px;
    margin-top: 1%;
}

.logoL {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 50px;
}

nav a,
label {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav li,
a,
ul {
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(255, 0, 0);
    transition: .5s all;
}

#atual {
    color: rgb(255, 0, 0);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(78, 24, 15, 0.5);
    width: 100%;
    height: 110dvh;
}
.info-delivery {
    text-align: center;
}

.titulo {
    text-transform: uppercase;
    font-size: 15dvh;
    color: rgb(246, 29, 29);
    padding-bottom: 6%;
}

.subtitulo {
    color: rgb(255, 255, 255);
    padding-bottom: 6%;
    font-size: 4dvh;
}

.btn {
  border-radius: 15px;
  background: rgb(211, 207, 207);
  width: 120px;
  background-color: #ffffff;
  margin-bottom: 5%;
  /* height: 100px; */
  
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

.detalhes {
    color: rgb(226, 222, 221);
    font-size: 2.8dvh;
}

.btn1, .btn2 {
    height: 100px;
}


.ifood {
    width: 100px;
    height: auto;
}
.uber {
    width: 100px;
    height: auto;
}





/* footer */

footer {
    background: #000;
    padding: 9dvh;
    margin-top: 5%;
}
footer h1 {
    font-size: 4dvh;
    font-weight: bold;
    text-transform: uppercase;
}

.foot-logos {
    line-height: 7.2dvh;
    display: flex;
    justify-content: center;
    padding-bottom: 9dvh;
    padding-top: 7dvh;
}
.foot-logos a {
    text-decoration: none;

}

footer .logo {
    height: 7dvh;
    float: left;
}

.info {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.1dvh;
    font-family: 'poppins';
}

.copyright {
    font-size: 2dvh;
    display: flex;
    justify-content: center;
    padding-top: 3dvh;
    color: #ffffffaa;
    font-family: Arial, Helvetica, sans-serif;
}

.bi {
    cursor: pointer;
}

.bi-icon {
    padding-right: 7dvh;
}

.media-icons {
    display: flex;
    justify-content: center;
}

