.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0px;
    color: #ffffff;
}

body {
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: auto;
    font-family: 'poppins';
    width: 100%;
    height: auto;
    z-index: 1000;
}

nav {
    background: linear-gradient(90deg, #000000c1, #310000c1);
    border-radius: 0 0 30px 30px;
}

.logoF {
    height: 50px;
    float: left;
    margin-left: 10dvh;
    margin-top: 1%;
}

.logoL {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 50px;
}

nav a,
label {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav li,
a,
ul {
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(255, 0, 0);
    transition: .5s all;
}

.menu {
    display: flex;
    right: 0;
    flex-direction: column;
    position: absolute;
    background: #310000c1;
    height: auto;
    max-width: 40dvh;
    display: none;
}

.menu hr {
    width: 30dvh;
    display: flex;
    align-self: center;
}

.menu li {
    cursor: pointer;
}



/* slider principal */

section .slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.slider-content {
    width: 600%;
    height: auto;
    display: flex;
    margin-bottom: 12%;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 16.6667%;
    height: auto;
    display: flex;
    justify-content: center;
}

.slide-box img {
    filter: brightness(66%);
    width: 100%;
}


#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -16.6667%;
}

#radio3:checked~.primeiro {
    margin-left: -33.3333%;
}

#radio4:checked~.primeiro {
    margin-left: -50%;
}

#radio5:checked~.primeiro {
    margin-left: -66.6667%;
}

#radio6:checked~.primeiro {
    margin-left: -83.3333%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }
}

/* slider frases */

.slider-info {
    display: flex;
    width: auto;
}

.slider-titulo {
    position: absolute;
    top: 42%;
    font-size: 12dvh;
}

.slider-sub {
    position: absolute;
    top: 65%;
    font-size: 4dvh;
}

.slider-titulo,
.slider-sub {
    animation: sliderReveal 1.5s ease forwards;
}


@keyframes sliderReveal {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* banner reservas */

.banner-reserva {
    position: relative;
    height: auto;
    margin-bottom: 7%;
}

.reserva-img {
    width: 100%;
    height: auto;
}

.reserva-titulo,
.reserva-btn {
    position: absolute;
    color: #fff;
}

.reserva-titulo {
    top: 25%;
    font-family: 'poppins';
    font-size: 11dvh;
    right: 25dvh;
}

.reserva-btn {
    top: 60%;
    left: 60%;
    transform: translateY(-60%);
}

.banner-reserva button {
    font-size: 16px;
    cursor: pointer;
    padding: 1em 2.7em 1em 2.7em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

.banner-reserva button span {
    color: #464646;
}

.banner-reserva button .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
}

.banner-reserva button:hover .border {
    display: block;
    width: 9.9em;
    height: 3.7em;
}

/* banner chefe */
.banner-chefe {
    position: relative;
    height: auto;
    margin-bottom: 7%;
}

.info-chefe {
    width: 60dvh;
}

.chefe-img {
    width: 100%;
    height: auto;
    filter: brightness(75%);
}

.chefe-titulo,
.chefe-nome,
.btn-chefe {
    position: absolute;
    color: #fff;
    left: 25dvh;
}

.chefe-titulo {
    top: 12%;
    font-family: 'poppins';
    font-size: 10dvh;
    text-decoration: underline 3px solid;
    text-underline-position: under;

}

.chefe-nome {
    top: 40%;
    font-size: 8dvh;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-chefe {
    top: 70%;
}


.banner-chefe button {
    font-size: 16px;
    cursor: pointer;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

.banner-chefe button span {
    color: #464646;
}

.banner-chefe button .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
}

.banner-chefe button:hover .border {
    display: block;
    width: 9.9em;
    height: 3.7em;
}

.full-rounded {
    border-radius: 2em;
}

/* footer */

footer {
    background: #000;
    padding: 9dvh;
    z-index: 1;
}

footer h1 {
    font-size: 4dvh;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.foot-logos {
    line-height: 7.2dvh;
    display: flex;
    justify-content: center;
    padding-bottom: 9dvh;
    padding-top: 7dvh;
}

footer .logo {
    height: 7dvh;
    float: left;
}

.info {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.1dvh;
    font-family: 'poppins';
    color: #ffffff;
}

.copyright {
    font-size: 2dvh;
    display: flex;
    justify-content: center;
    padding-top: 3dvh;
    color: #ffffffaa;
    font-family: Arial, Helvetica, sans-serif;
}

.bi {
    cursor: pointer;
}

.bi-icon {
    padding-right: 7dvh;
}

.media-icons {
    display: flex;
    justify-content: center;
}
