.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0px;
    color: #ffffff;
    font-family: 'poppins';
}

.container {
    max-width: 100%;
    display: flex;  
    justify-content: center;
}

body {
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


.navbar {
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

nav {
    background: linear-gradient(90deg, #000000c1, #310000c1);
    border-radius: 0 0 30px 30px;
}


.logos {
    cursor: pointer;
}

.logoF {
    height: 50px;
    float: left;
    margin-left: 80px;
    margin-top: 1%;
}

.logoL {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 50px;
}

nav a, label {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav li, a, ul {
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(255, 0, 0);
    transition: .5s all;
}

.card {
    margin-top: 100px;
    margin-bottom: 70px;
    max-width: 1100px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.sobre {
    padding: 40px 60px 90px 90px;
}

h1 {
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 25px;
}

#titulo {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}

.pSobre {
    font-size: 19px;
    text-align: justify;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    justify-content: space-between;
}
#logo {
    max-height: 60px;
    margin-top: 20px;
    cursor: pointer;
    float: left;
}